@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="main-navigation flex-lg-right">
    <ul class="main-menu menu-right main-menu--white li-last-0">
        <li class="menu-item">
            <a asp-controller="Home" asp-action="Index">Anasayfa</a>
        </li>
        <li class="menu-item has-children">
            <a href="javascript:void(0)">
                Menü <i class="fas fa-chevron-down dropdown-arrow"></i>
            </a>
            <ul class="sub-menu">
                <li> <a href="index.html">Home One</a></li>
                <li> <a href="index-2.html">Home Two</a></li>
                <li> <a href="index-3.html">Home Three</a></li>
                <li> <a href="index-4.html">Home Four</a></li>
                <li> <a href="index-5.html">Home Five</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a asp-controller="Home" asp-action="Contact">İletişim</a>
        </li>
        <li class="menu-item">
            <a href="/Identity/Account/Login">Giriş</a>
        </li>
        <li class="menu-item">
            <a href="/Identity/Account/Register">Kayıt</a>
        </li>
    </ul>
</div>