@model KutuphaneOtomasyonu.Models.ChangePasswordViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["ChangePassword"];
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12">
        <div class="white-box">

            <ul class="nav nav-tabs tabs customtab">
                <li class="tab">
                    <a asp-action="Profile" asp-controller="Admin" data-toggle="tab" aria-expanded="false" onclick="window.location.href = '/Admin/Profile'">
                        <span class="visible-xs"><i class="fa fa-cog"></i></span> <span class="hidden-xs">@Localizer["Profile"]</span>
                    </a>
                </li>
                <li class="tab active">
                    <a asp-action="ChangePassword" asp-controller="Admin" data-toggle="tab" aria-expanded="false" onclick="window.location.href = '/Admin/ChangePassword'">
                        <span class="visible-xs"><i class="fa fa-lock"></i></span> <span class="hidden-xs">@Localizer["ChangePassword"]</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="passwd">
                    <form class="form-horizontal form-material" asp-action="ChangePassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="col-md-12" asp-for="CurrentPassword"></label>
                            <div class="col-md-12">
                                <input type="password" asp-for="CurrentPassword" class="form-control form-control-line" />
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12" asp-for="NewPassword"></label>
                            <div class="col-md-12">
                                <input type="password" asp-for="NewPassword" class="form-control form-control-line" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12" asp-for="ConfirmPassword"></label>
                            <div class="col-md-12">
                                <input type="password" asp-for="ConfirmPassword" class="form-control form-control-line" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-success">@Localizer["ChangePasswordButton"]</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
