@model KutuphaneOtomasyonu.Models.AppUser
@{
    ViewData["Title"] = "Profil";
}

<div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12">
        <div class="white-box">
            <ul class="nav nav-tabs tabs customtab">
                <li class="tab active"><a href="#profile" data-toggle="tab" aria-expanded="false"> <span class="visible-xs"><i class="fa fa-cog"></i></span> <span class="hidden-xs">Profil</span> </a> </li>
                <li class="tab"><a href="#passwd" data-toggle="tab" aria-expanded="false"> <span class="visible-xs"><i class="fa fa-lock"></i></span> <span class="hidden-xs">Şifre</span> </a> </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="profile">
                    <form class="form-horizontal form-material" asp-action="Profile">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="TCKimlik" class="col-md-12"></label>
                            <div class="col-md-12">
                                <input asp-for="TCKimlik" class="form-control form-control-line" />
                                <span asp-validation-for="TCKimlik" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Adi" class="col-md-12"></label>
                            <div class="col-md-12">
                                <input asp-for="Adi" class="form-control form-control-line" />
                                <span asp-validation-for="Adi" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Soyadi" class="col-md-12"></label>
                            <div class="col-md-12">
                                <input asp-for="Soyadi" class="form-control form-control-line" />
                                <span asp-validation-for="Soyadi" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Cinsiyet" class="col-md-12"></label>
                            <div class="col-md-12">
                                <select asp-for="Cinsiyet" class="form-control">
                                    @if (Model.Cinsiyet)
                                    {
                                        <option value="true" selected>Erkek</option>
                                        <option value="false">Kadın</option>
                                    }
                                    else
                                    {
                                        <option value="true">Erkek</option>
                                        <option value="false" selected>Kadın</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="DogumTarihi" class="col-md-12"></label>
                            <div class="col-md-12">
                                <input asp-for="DogumTarihi" class="form-control form-control-line" />
                                <span asp-validation-for="DogumTarihi" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="col-md-12">Eposta</label>
                            <div class="col-md-12">
                                <input type="email" asp-for="Email" class="form-control form-control-line" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="col-md-12">Telefon</label>
                            <div class="col-md-12">
                                <input asp-for="PhoneNumber" class="form-control form-control-line">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-success">Güncelle</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="passwd">
                    <form class="form-horizontal form-material">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label class="col-md-12">Mevcut Şifre</label>
                            <div class="col-md-12">
                                <input type="password" class="form-control form-control-line" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Yeni Şifre</label>
                            <div class="col-md-12">
                                <input type="password" class="form-control form-control-line" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Yeni Şifre (Tekrar)</label>
                            <div class="col-md-12">
                                <input type="password" class="form-control form-control-line" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-success">Şifre Değiştir</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>